<% provide(:title, "About") %>
<h1>About QUARRY</h1>
<p>思い浮かんだアイデアを自由にツイートする社内アプリ。
<br>アプリ名のQUARRYは「採石場」の意味。
<br>自由にツイートされるアイデアは革新の原石。
<br>その原石をQUARRYから探し出し、磨き上げよう。
<br>フォロー機能、いいね機能などの煩わしい機能はカット。
<br>発信に対するハードルを限りなく低くしました。
<br>さあ、アイデアの原石を磨き上げ革新を起こそう！
</p>